<div class="we-help-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="imgs-grid">
          <div class="grid grid-1"><img src="assets/img/jpg/img-grid-1.jpg" alt="we-help-img"></div>
          <div class="grid grid-2"><img src="assets/img/jpg/img-grid-2.jpg" alt="we-help-img"></div>
          <div class="grid grid-3"><img src="assets/img/jpg/img-grid-3.jpg" alt="we-help-img"></div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5">
        <h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
        <p>
          Well-chosen furniture fittings are not just about convenience but also
          about style. We offer a wide range of high-quality fittings and professional
          design services to help you bring any interior idea to life.
        </p>
        <ul class="list-unstyled custom-list my-4">
          <li>A wide selection of modern and classic fittings</li>
          <li>Personalized solutions for your interior</li>
          <li>Expert consultations on design and functionality</li>
          <li>Only high-quality materials and reliable mechanisms</li>
        </ul>
        <p><a [routerLink]="'/shop'" class="btn">Explore</a></p>
      </div>
    </div>
  </div>
</div>
