<div class="relative-section">
  <div class="untree_co-section product-section before-footer-section">
    <h2 class="section-title">Relative products</h2>
    <div class="container relative-container" *ngIf="products$ | async as products; else loading">
      <div class="row relative-row" *ngFor="let product of products | slice:0:5; trackBy: trackById">
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a [routerLink]="['/product', product.id]" class="product-item" href="#">
            <img src="{{product.images[0]}}" class="img-fluid product-thumbnail">
            <h3 class="product-title">{{product.name}}</h3>
            <strong class="product-price">
              {{product.discountPrice ? product.discountPrice : product.price}} {{ product.currency }}
            </strong>
            <span class="icon-cross">
            <img src="assets/img/svg/cross.svg" class="img-fluid">
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading">Loading products...</div>
  </ng-template>
</div>
