.owl-carousel-o {
  display: block;
  width: 100%;
  max-width: 100%;
}

.owl-carousel {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.product-item {
  max-width: 200px;
  width: 180px;
  margin: 20px 5px;
}

.product-thumbnail {
  max-width: 150px;
}

.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.owl-stage {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.owl-nav button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.my-owl-carousel {
  max-width: 800px;
  max-height: 880px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-row {
  flex-wrap: nowrap!important;
}

.custom-arrow {
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}


@media (max-width: 1450px) {
  .carousel-row {
    flex-wrap: wrap!important;
  }
}
