@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../../src/assets/fonts/PTSans-Regular.ttf") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../../src/assets/fonts/PTSans-Italic.ttf") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../../src/assets/fonts/PTSans-Bold.ttf") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../../src/assets/fonts/PTSans-BoldItalic.ttf") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../../src/assets/fonts/PTSans-Bold.ttf") format('woff2');
}
